<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<nav>
    <span sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
        |
        <a th:href="@{/signup}">Sign Up</a>
    </span>

    <span sec:authorize="isAuthenticated()">
        Welcome, <span sec:authentication="name"></span>
        |
        <a th:href="@{/logout}">Logout</a>
    </span>
</nav>
</body>
</html>